<template>

  <div id="app">
    <div v-show="hideLoad" class="load" v-bind:class="{ loader: !loaded }">
      <img src="./assets/load.svg"/>
    </div>
    
    <router-view/>
  </div>
</template>

<script>
import main from './components/mainindex.vue';

export default {
  name: 'App',
  data(){
    return{
      loaded: false,
      hideLoad: true,
    }
  },  
  mounted(){
    this.getMain()
  },
  methods: {
    getMain(){
      setInterval(()=>{
        if(this.$store.state.isLoaded){
          this.loaded = true;
          setTimeout(()=>{
          this.hideLoad = false;
          }, 700);
        }
        
      }, 50)
    }
  },
}
  
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: black;
  width: 100%;
  height: 100%;;
}
.load{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  display: block;
  transition: all 1s;
  display: flex;
   align-items: center;
  justify-content: center;

}
.loader{
  background-color: white;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 900;
}
</style>
