<template>
  
<div class="main">
    <div class="float_button" v-bind:class="{frc_active: !show_right_col}">
        <button @click="show_right_col = !show_right_col" v-bind:class="{rc_active: !show_right_col}">
            <p v-if="show_right_col">+</p>
            <p v-else>X</p>
        </button>
    </div>
    <div class="float_button_search">
        <button @click="show_search_input = !show_search_input">&#128270;</button>
        <input type="text" v-model="search_for" name="search_for" @input="searchFor()" v-bind:class="{search_active: show_search_input}" placeholder="Szukaj..."/>
    </div>
    <div class="right_column" v-bind:class="{rc_active: show_right_col}">
        <div class="form">
            <div class="form_element">
            <h3>Producent</h3>
            <div v-if="manufacturer != '_new'">
              <select name="manufacturer" v-model="manufacturer" @change="modelsByManufacturer()">
                <option value="" disabled selected hidden>Select your option</option>
                <option value="_new">Dodaj nowy</option>
                <option v-bind:key="manufacturer.name" v-for="manufacturer in manufacturers" :value="manufacturer.name">
                  {{ manufacturer.name }}
                </option>
              </select>
            </div>
            <div v-else>
              <button @click="manufacturer = ''">X</button>
              <input name="manufacturer" v-model="new_manufacturer">
              <button @click="addManu()">ADD</button>
            </div>
            </div>
            <div class="form_element">
            <h3>Model</h3>
            <div v-if="model != '_new'">
              <select name="model" v-model="model" :disabled="manufacturer == '' || manufacturer == '_new'">
                <option value="" disabled selected hidden>Select your option</option>
                <option value="_new">Dodaj nowy</option>
                <option v-bind:key="model.name" v-for="model in models_selected" :value="model.name">
                  {{ model.name }}
                </option>
              </select>
            </div>
            <div v-else>
                <button @click="model = ''">X</button>
                <input name="model" v-model="new_model">
                <button @click="addModel()">ADD</button>
            </div>
          </div>
          <div class="form_element">
            <h3>Kolor</h3>
            <div v-if="color != '_new'">
              <select name="color" v-model="color">
                <option value="" disabled selected hidden>Select your option</option>
                <option value="_new">Dodaj nowy</option>
                <option v-bind:key="color.name" v-for="color in colors" :value="color.name">
                  {{ color.name }}
                </option>
              </select>
            </div>
            <div v-else>
                <button @click="model = ''">X</button>
                <input name="color" v-model="new_color">
                <button @click="addColor()">ADD</button>
            </div>
            </div>
            <div class="form_element">
              <h3>Miejsce</h3>
              <div v-if="place != '_new'">
              <select name="place" v-model="place">
                <option value="" disabled selected hidden>Select your option</option>
                <option value="_new">Dodaj nowy</option>
                <option v-bind:key="place.name" v-for="place in places" :value="place.name">
                  {{place.name }}
                </option>
              </select>
              </div>
             <div v-else>
                <button @click="model = ''">X</button>
                <input name="model" v-model="new_place">
                <button @click="addPlace()">ADD</button>
             </div>
            </div>
            <div class="form_element">
              <h3>Rozmiar</h3>
              <select name="size" v-model="size">
                <option value="" disabled selected hidden>Select your option</option>
                <option value="42">34</option>
                <option value="42">35</option>
                <option value="42">36</option>
                <option value="42">37</option>
                <option value="42">38</option>
                <option value="42">39</option>
                <option value="42">40</option>
                <option value="42">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="46">47</option>
                <option value="46">48</option>
                <option value="46">49</option>
              </select>
            </div>
            <div class="form_element_small">
              <h3>Ilość</h3>
              <input type="number" name="amount" v-model="amount">
            </div>
            <div>
              <button class="app_post_btn" @click="addShoe">Add</button>
            </div>
          </div>
    </div>
  <div class="posts">
      
      <div class="paginate">
          <ul>
        
            <li><h2>{{ page.curpage + 1}}</h2></li>
            <li><h3>of</h3></li>
            <li><h3>{{ page.sites }}</h3></li>
          </ul>
          <ul>
              <li class="button"><a v-if="page.curpage > 0" @click="paginate(page.curpage - 1)"><p>&#8592;</p></a></li>
              <li class="button"><a v-if="page.curpage < page.sites - 1" @click="paginate(page.curpage + 1)">&#8594;</a></li>
          </ul>
        </div>
  </div>
  <div class="table">
    <tr>
      <td>MODEL</td>
      <td>PRODUCENT</td>
      <td>KOLOR</td>
      <td>ROZMIAR</td>
      <td>STAN</td>
      <td>MIEJSCE</td>
    </tr>
    <tr v-bind:key="shoe._id" v-for="shoe in shoes_paginated">
      <td>{{ shoe.model }}</td>
      <td>{{ shoe.manufacturer }}</td>
      <td>{{ shoe.color }}</td>
      <td>{{ shoe.size }}</td>
      <td v-if="shoe.state == 1">DOSTEPNE</td>
      <td v-else-if="shoe.state == 2">SPRZEDANE</td>
      <td v-else>NIEDOSTEPNE</td>
      <td>{{ shoe.place }}</td>
      <td><a href="#" @click="deleteShoe(shoe._id)">Delete</a></td>
    </tr>
  </div>
</div>
</template>

<script>
import ShoeService from '@/services/ShoeService'
export default {
  name: 'mainindex',
  data () {
    return {
      search_for: '',
      show_right_col: true,
      show_search_input: false,
      manufacturer: '',
      new_manufacturer: '',
      color: '',
      new_color: '',
      place: '',
      new_place: '',
      model: '',
      new_model: '',
      size: '',
      amount: 1,
      shoes : [],
      shoes_selected: [],
      shoes_paginated: [],
      manufacturers: [],
      colors: [],
      places: [],
      models: [],
      models_selected: [],
      all: [],
      page:{
        max_paginate: 100,
        sites: '',
        curpage: 0
      },
    }
  },
  mounted(){
    this.isLoaded(),
    this.getShoes(),
    this.getInfo()
  },
  methods: {
    isLoaded(){
      setInterval(()=>{
        if(this.$store.state.progress.infoLoaded == true && this.$store.state.progress.shoeLoaded == true){
          this.$store.state.isLoaded = true;
        }
      }, 50);
    },
    paginate(site){
      if(this.shoes != 0){
        if(this.shoes_selected == null || this.search_for == ''){
            this.shoes_selected = this.shoes;
          }
          if(this.page.curpage == this.shoes_selected.length/this.page.max_paginate && this.page.curpage == site){
            site -= 1;
          }
          if(site == null)
            site = this.page.curpage
          

          this.page.curpage = site;
          this.page.sites = ((this.shoes_selected.length/this.page.max_paginate) % 1) === 0 ? this.shoes_selected.length/this.page.max_paginate : Math.ceil(this.shoes_selected.length/this.page.max_paginate);
          
          var a = this.shoes_selected.slice(this.page.max_paginate * site, this.page.max_paginate * (site + 1));
          this.shoes_paginated = a;
      }else{
        this.shoes_paginated = 0;
      }
          
    },
    async addShoe(){
      await ShoeService.addShoe({
        model: this.model,
        manufacturer: this.manufacturer,
        color: this.color,
        size: this.size,
        place: this.place,
        amount: this.amount
      }).then((data) =>{
        if(data.data.success == true){
            for(var a of data.data.ids){
                  var new_shoe = {
                    _id: a._id,
                    model: a.model,
                    manufacturer: a.manufacturer,
                    color: a.color,
                    size: a.size,
                    state: a.state,
                    place: a.place,
                  }
                  this.shoes.push(new_shoe);
                  this.paginate();
            }
        }
        
      });
    },
    async addManu(){
      if(this.new_manufacturer != null){
        await ShoeService.addManu({
          name: this.new_manufacturer,
          phone_number: "000"
        }).then(()=>{
          var a ={
            name: this.new_manufacturer,
            phone_number: "000"
          }
          this.manufacturers.push(a);
          console.log(this.new_manufacturer);
          this.manufacturer = this.new_manufacturer;
          this.new_manufacturer = '';
        });
      }
    },
    async addModel(){
      if(this.new_model != null){
        await ShoeService.addModel({
          name: this.new_model,
          manufacturer: this.manufacturer
        }).then(() =>{
          var a ={
            name: this.new_model,
            manufacturer: this.manufacturer
          }
          this.models.push(a);
          this.models_selected.push(a);
          console.log(this.new_model);
          this.model = this.new_model;
          this.new_model = '';
        });
      }
    },
    async addColor(){
      if(this.new_color != null){
        await ShoeService.addColor({
          name: this.new_color
        }).then(()=>{
          var a={
            name: this.new_color
          }
          this.colors.push(a);
          this.color = this.new_color;
          this.new_color = '';
        })
      }
    },
    async addPlace(){
      if(this.new_place != null){
        await ShoeService.addPlace({
          name: this.new_place
        }).then(()=>{
          var a={
            name: this.new_place
          }
          this.places.push(a);
          this.place = this.new_place;
          this.new_place = '';
        })
      }
    },
    async getInfo(){
       var a = Date.now();
      Promise.all([ShoeService.fetchManufacturers(), ShoeService.fetchColors(), ShoeService.fetchPlaces(), ShoeService.fetchModels()
      ]).then((data) => {
        this.manufacturers = data[0].data.manufacturers;
        this.colors = data[1].data.colors;
        this.places = data[2].data.places;
        this.models = data[3].data.models;
        this.models_selected = this.models;
        var b = Date.now();
        console.log("ms "+(b - a));
        this.$store.state.progress.infoLoaded = true;
        
      });
      
    },
    async getShoes(){
      var a = Date.now();
      await ShoeService.fetchShoes()
      .then((data) =>{
        this.shoes = data.data.shoes;
        var b = Date.now();
        console.log("ms "+(b - a));
        this.paginate(this.page.curpage);
        this.$store.state.progress.shoeLoaded = true;
      });
      
    },
    async deleteShoe(id){
      var shoe;
      for(var i=0; i < this.shoes.length; i++){
        if(this.shoes[i]._id == id){
          shoe = this.shoes[i];
        }
      }
      await ShoeService.deleteShoe(id).then(() =>{
        if(true){
          this.shoes.splice(this.shoes.indexOf(shoe), 1);
          this.paginate(this.page.curpage);    
        }
      });
      
    },
    modelsByManufacturer(value){
      var array = [];
      this.models.forEach(element => {
        if(element.manufacturer == this.manufacturer){
          array.push(element);
        }
      });
      this.models_selected = array;
    },
    searchFor(){
    if(this.search_for != ''){
      var words = this.search_for.split(" ");
      var sorted = [0, 0, 0, 0, 0];
      var matching = [];
      var highest_rank = 0;
      for(var i in words){
          this.manufacturers.forEach(element=>{
            if(element.name == words[i]){
                sorted[0] = words[i];
                i += 1;
            }
          });
          this.models.forEach(element=>{
            if(element.name == words[i]){
                sorted[1] = words[i];
                i += 1;
            }
          });
          this.colors.forEach(element=>{
            if(element.name == words[i]){
                sorted[2] = words[i];
                i += 1;
            }
          });
          this.places.forEach(element=>{
            if(element.name == words[i]){
                sorted[3] = words[i];
                i += 1;
            }
          });
          if(words[i] > 39 && words[i] < 48){
              sorted[4] = words[i];
          }
          console.log(sorted);
        }
      for(var i in this.shoes){
        var eq = 0; 
        if(this.shoes[i].manufacturer == sorted[0]){
            eq+=1;
        }
        if(this.shoes[i].model == sorted[1]){
            eq+=1;
        }
        if(this.shoes[i].color == sorted[2]){
            eq+=1;            
        }
        if(this.shoes[i].place == sorted[3]){
            eq+=1;
        }
        if(this.shoes[i].size == sorted[4]){
            eq+=1;
        }
        if(eq > 0){
          var b = [];
          b.push(this.shoes[i]);
          b.push(eq);
          matching.push(b);
        }
        if(eq > highest_rank){
          highest_rank = eq;
        }
        }
      var selected = []
      if(highest_rank > 0 ){
        
        for(var i in matching){
          
          if(matching[i][1] == highest_rank){
            selected.push(matching[i][0]);
          }
        }
      }
      if(selected.length > 0){
        this.shoes_selected = selected;
        this.paginate();
      }
    }else{
      this.shoes_selected = this.shoe;
      this.paginate();
    }
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #9E9E9E;
}
.posts{
  width: 100%;
  overflow: hidden;
}
td{
  color:#212121;
  background-color: #CFD8DC;
  padding: 0.5em 2em 0.5em 2em;
  border: 1px solid #212121;
  width: 200px;
}
.paginate{
  display: inline;
}
.paginate > ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    user-select: none;
}
.paginate > ul > li{
  display: inline-block;
}
.button{
  cursor: pointer;
  user-select: none;
}
.form > .form_element{
  color: white;
  margin: 0 auto;
  padding: 1em;
}
.form > .form_element > h3{
  text-align: left;
  margin: 0;
}
.form > .form_element_small{
  display: inline-block;
  width: 100px;
}
.form > .form_element_small > h3{
  display: inline-block;
  color: white;
}
.form > .form_element_small > input{
  
  width: 50px;
}
.table{
  height: 80%;
  position: relative;
  overflow-y: scroll;
  left: 50%;
  transform: translateX(-50%);
}
.float_button{
  position: absolute;
  top: 25px;
  z-index: 510;
  right: 160px;
  outline: none;
  transition: all 0.5s;
}
.float_button_search{
  position: absolute;
  top: 25px;
  z-index: 510;
  left: 160px;
  outline: none;
  transition: all 0.5s;
}
.float_button_search > button{
 width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #429ef4;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline: none;
  transition: all 0.5s;
}
.float_button_search > input{
    width: 0px;
    opacity: 0;
    transition: all 0.5s;
}
.float_button_search > .search_active{
    width: 200px;
    opacity: 1;
    transition: all 0.5s;
}
.frc_active{
  right: 375px;
  transition: all 0.5s;
}
.float_button > button{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #f47d42;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline: none;
  transition: all 0.5s;
}
.float_button > .rc_active{
  right: 500px;
  background-color: #f41d1d;
  transition: all 0.5s;
}
.right_column{
  width: 400px;
  height: 100%;
  position: absolute;
  z-index: 500;
  display: flex;
  align-items: center;
    justify-content: center;
  background-color: #607D8B;
  right: 0%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.5s cubic-bezier(.74,-0.01,.24,.99);
}
.rc_active{
  right: -400px;
  transition: all 0.5s cubic-bezier(.74,-0.01,.24,.99);
}
</style>
